{% extends 'layout/base.twig' %}

{% block content %}
	<link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}
 <!--ไว้เก็บข้อมูลที่จะใช้เเสดงผลในหน้าเว็บเบราเซอร์ทั้งหมด-->
	<!--<h1 class="has-text-centered">สวัสดีเด้อหล่าา</h1> เป็นการทำให้ข้อความอยู่ตรงกลาง-->
	

	<main>
		<sction class="banner">
			<div class="highlight">
				<div class="columns"> <!--เป็นตัวที่บอกว่าจะมีguridอยู่ในนี้ โดยทั่วไปจะเเบ่งหน้าจอออกเป็น12 คอลัมภ์-->
					<!--<div class="column">ถ้าจะทำข้อความใส่ในรูป ให้ทำตามด้านล่าง ถ้าระบุในต่อจะเป็นการบอกว่ารูปแบนเนอร์ของเราจะมีขนาดว้างกี่คอลัมเเต่ถ้าไม่บอกโปรเเกรมจะเข้าใจว่าใช้ตวามกว้าง12คอลัมเลย
						<img src="/assets/images/home/banner/highlight.jpg" alt="">-->
						<div class="column highlight-item" style="background-image: url({{ highlight.url }})">
							<h1>{{ highlight.title }}</h1>
						</div>
				</div>
			</div>

				<div class="thumbnail">
					<div class="columns is-marginless">
						{% for item in thumbnail %}
						<div class="column thumbnail-item is-paddingless" style="background-image: url({{ item.url }});"> <!--is-paddingless ใช้ลบช่องว่างของรูป(ขอบสีขาว)-->
							{{ item.title }}
							<!--<img src="/assets/images/home/banner/thumbnail-1.jpg" alt="" width="100%" height="auto">-->
						</div>
						{% endfor %}
					</div>
				</div>
		</sction>

		<section class="section we-present">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASRET</a>
					</div>
					<div class="column has-text-centered">
						WE PRESENT
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>
			
			<div class="columns is-multiline"> <!--multiline ทำให้มันสามารถขึ้นบรรทัดใหม่ได้เมื่อสุดคอลัมภ์-->
				<a href="#" class="column is-one-third"><!--กำหนดให้ความกว้างคอลัมภ์คือ1ใน3ของหน้าจอ-->
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public space</h5>
							<h3 class="title is-spaced is-4">
								AAAAAAAAAAAAAAAAAAAAAAAAAA
							</h3>
							<h4 class="subtitle is-6">
								กกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกก
							</h4>
							<p>
								111111111111111111111111111111111111111
							</p>
						</div>
					</div>
				</a>

				<a href="#" class="column is-one-third"><!--กำหนดให้ความกว้างคอลัมภ์คือ1ใน3ของหน้าจอ-->
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="assets/images/home/we-preset/img-2.jpg" alt="image-1">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public space</h5>
							<h3 class="title is-spaced is-4">
								BBBBBBBBBBBBBB
							</h3>
							<h4 class="subtitle is-6">
								ขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขขข
							</h4>
							<p>
								222222222222222222222222222
							</p>
						</div>
					</div>
				</a>

				<a href="#" class="column is-one-third"><!--กำหนดให้ความกว้างคอลัมภ์คือ1ใน3ของหน้าจอ-->
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="assets/images/home/we-preset/img-3.jpg" alt="image-1">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public space</h5>
							<h3 class="title is-spaced is-4">
								CCCCCCCCCCCCCCCC
							</h3>
							<h4 class="subtitle is-6">
								คคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคคค
							</h4>
							<p>
								33333333333333333333333333333
							</p>
						</div>
					</div>
				</a>

				<a href="#" class="column is-one-third"><!--กำหนดให้ความกว้างคอลัมภ์คือ1ใน3ของหน้าจอ-->
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="assets/images/home/we-preset/img-4.jpg" alt="image-1">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public space</h5>
							<h3 class="title is-spaced is-4">
								DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
							</h3>
							<h4 class="subtitle is-6">
								งงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงงง
							</h4>
							<p>
								444444444444444444
							</p>
						</div>
					</div>
				</a>

				<a href="#" class="column is-one-third"><!--กำหนดให้ความกว้างคอลัมภ์คือ1ใน3ของหน้าจอ-->
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="assets/images/home/we-preset/img-5.jpg" alt="image-1">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public space</h5>
							<h3 class="title is-spaced is-4">
								EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
							</h3>
							<h4 class="subtitle is-6">
								จจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจจ
							</h4>
							<p>
								55555555555555555555555555555

							</p>
						</div>
					</div>
				</a>

				<a href="#" class="column is-one-third"><!--กำหนดให้ความกว้างคอลัมภ์คือ1ใน3ของหน้าจอ-->
					<div class="card">
						<div class="card-image">
							<figure class="image is-3by2">
								<img src="assets/images/home/we-preset/img-6.jpg" alt="image-6">
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public space</h5>
							<h3 class="title is-spaced is-4">
								FFFFFFFFFFFFFFFF
							</h3>
							<h4 class="subtitle is-6">
								ฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉฉ
							</h4>
							<p>
								66666666666666666666666666666666
							</p>
						</div>
					</div>
				</a>
			</div>
		</section>

	</main>

{% endblock %}