<header><!--ส่วนหัวของเว็บไซต์-->
		<!--เป็นการกำหนดขนาด โดยปกติการนำรูปมาทำเว็บไม่ควรทำรูปที่มีขนาดเท่ากับขนาดที่ใช้จริงเพื่อให้เว็บสามารถรองรับได้กับทุกอุปกรณ์ ควรที่จะทำให้มีขนาดโอเวอร์ไซส์กว่าประมา 2 เท่า เเล้วใช้การกำหนดขนาดให้เล็กลงตามคำสั่งด้านล่าง-->
		<div class="has-text-centered"> <!--เนื่องจากการจะทำให้รูปภาพอยู่ตรงกลาง ไม่สามารถทำโดยการใส class เลยเหมือนกับตัวอย่างด้านบนได้ จึงมีการใส่ div เข้ามาเพื่อช่วยให้สามารถใช้ class เพื่อกำหนดการจัดการข้อความหรือรูปภาพให้อยู่ตรงกลางได้ **สามารถนำ div มาใช้ได้ในทุกกรณีที่มีปัญหาอย่างที่กล่าวมาข้างต้น-->
			<!--การใช้div จะต้องดูรูปเเบการเเสดงผลของโค้ดในเเต่ละประเภท อย่าง image จะมีรูปเเบบการเเสดงโค้ดในบรรทัดเดียว ซึ่งส่วนของ div จะเเสดงผลคนละบรรทัดกัน-->
			<!--ใช้เพื่อให้การเขียนโค้ดสั้นลงเมื่อต้องการใช้ภาษาcssเข้ามาผสมกับhtml-->
		<img src="/assets/images/logo.png" alt="" width="145" height="auto"></div>

		<nav class="navbar-tabs"><!--ส่วนของnavigation-->
			<!--ส่วนของเนวิเกชั่นบาร์ ที่สามารถกดเชื่อมต่อไปที่ลิงค์อื่นได้-->
			<a href="#" class="navbar-item">WORK</a> <!-- #ทำให้เวลาเรากดลิงค์เว็บเเล้วมันไม่ไปไหนใช้ในการtest-->
			<a href="#" class="navbar-item">WORKED</a>
			<a href="#" class="navbar-item">WORKING</a>
			<a href="#" class="navbar-item">WORK WORK WORK</a>
		</nav>
	</header>